html, body{
    margin: 0;
}
#imagem_fundo{
    background: url("img/6704412.jpg");
    height: 100%;
    text-align: center;
}
#titulo{
    color: black;
    padding-top: 20%;
    font-size: 60px;
}
#subtitulo{
    color:black;
    padding-left: 20%;
    padding-right: 20%;
}
#acao{
    color: violet;
    border: 1.5px violet solid;
    padding: 10px 20px 10px 20px;
}
.icone{
    width: 30px;
    margin: 20px;
    
}
#projeto{
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
}

.imgeco{
    width: 70px;
    margin:20px; 

} 
#empoderamento{

    padding: 20px;
}